*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #E5BAAE;
    font-family: "prompt" , sans-serif;
    overflow-x: hidden;
}
body{
    background-color: #c3c3c3);
}
/* Nav style */
/* .navholder{
    position: fixed;
    width: 100%;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000;
} */
nav{
    position: fixed;
    background-color: #1a2456;
    /* width: 100%; */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 5px 120px 0px 100px;
    margin: 15px 20px;
    text-transform: uppercase;
    z-index: 1000;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo h1{
    font-size: 15px;
}
.logo img{
    margin: 0 10px;
    max-height: 35px;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-stretch: expanded;
}
.navbar ul li{
    list-style: none;
    margin-right: 40px;
    font-size: 15px;
    font-weight: 300;
}
.nav-list:nth-child(2), .nav-list:nth-child(7){
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.navbar ul li:last-child{
    margin-right: 0px;
}
.fa-sort-down{
    margin-left: 5px;
}
.fa-bag-shopping{
    margin-right: 5px;
}
/* Home Style*/
.Shop-Home{
    background-image: url(img/Shopbg.png), radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 500%);;
    background-size: cover, cover;
    background-position: center;
    background-blend-mode: overlay;
    min-height: 91vh;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.Home-text{
    position: absolute;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Shop-home-text{
    font-size: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.console{
    text-align: center;
}
.Shop-home-description{
    font-size: 18px;
}
.fa-chevron-down{
    position: absolute;
    font-size: 50px;
    left: 48%;
    top: 80vh;
}

/* catalogue display style */
.catalogue-display{
    padding: 100px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.catalogue-display img{
    width: 100%;
    max-height: fit-content;
}
/* .catalogue-display img:last-child{
    height: fit-content;
} */
.catalogue-item:last-child{
    grid-column: span 2;
    object-fit: cover;
    min-width: 100%;
}
.catalogue-item h3{
    position: relative;
    background-color: #ff8b68;
    padding: 5px 10px;
    top:  50px;
    left: 85%;
    z-index: 100;
    color: rgb(43, 40, 40);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.catalogue-item:last-child h3:last-of-type{
    top: 50px;
    left: 93%;
}
.catalogue-discription{
    display: flex;
    justify-content: space-between;
}
.catalogue-discription h1,
.catalogue-discription p{
    color: #1a2456;
    position: relative;
    font-weight: 400;
}


/*Creative Styles*/
.creative{
    padding: 50px 120px 0px 120px;
    margin-bottom: 30px;
    min-width: 100%;
    background: linear-gradient(to left, #c4c4c4, #c4c4c4);
    border: none;
}
.creative img{
    max-width: 100%;
    border: none;
}
.create-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50px;
}
.create-title h1, .create-title p{
    color: #1a2456;
}
.create-title h1{
    font-size: 45px;
    word-spacing: 5px;
    font-weight: 500;
}
.create-title p{
    font-weight: 400;
}

/*catalogue-display2 Style*/
.catalogue-display2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 350px;
    margin: 50px 0;
    gap: 30px;
}
.catalogue-display2 img{
    min-width: 100%;
    max-height: 300px;
}
.catalogue-item2{
    object-fit: cover;
}
.catalogue-item2 h3{
    position: relative;
    background-color: #ff8b68;
    padding: 5px 10px;
    top:  50px;
    left: 77%;
    z-index: 100;
    color: rgb(43, 40, 40);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.catalogue-discription2 .product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalogue-discription2 .product h1{
    color: #1a2456;
    font-size: 25px;
}
.catalogue-discription2 .product p{
    color: #1a2456;
    font-family: 300;
}



/*Footer Styles*/
.footer{
    background-color:#1a2456 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    padding: 50px 120px 50px 150px;
    line-height: 1.2rem;
}
.footer > *{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    text-align: left;
}
.footer h1 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 15px;
    overflow: hidden;
}
.footer p, a{
    font-size: 12px;
    text-decoration: none;
    margin: 3px 0;
    text-align: left;
}
.input input{
    background-color: #1a2456;
    border: 1px #fff solid;
    padding: 5px 10px;
    margin: 20px 15px 20px 0px;
}
.input button{
    background-color: #cfa89d;
    border: none;
    padding: 5px 20px;
    color: #1a2456;
    border-radius: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}
.socials{
    display: flex;
    align-items: center;
}
.socials > *{
    align-self: center;
    margin: 5px 5px;
    font-size: 15px;
    background-color: #E5BAAE;
    padding: 5px 8px 1px 8px;
    justify-content: center;
    border-radius: 50%;
}


/*copy-info styles*/
.copy-info{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: rgba(170, 162, 162, 0.8);
}
.copy-info a , .copy-info p, .copy-info button{
    color: #1a2456;
    margin: 10px;
}
.copy-info button{
    padding: 3px 25px;
    border-radius: 30px;
    border: none;
    background-color: #1a2456;
    color: #fff;
    text-transform: uppercase;
}
.copy-info a{
    text-transform: uppercase;
    font-weight: 700;
}